<table>
  <thead>
    <tr>
      <th>Ragione Sociale</th>
      <th>Importo</th>
      <th (click)="orderAlphabetically('stato')">Stato</th>
      <th (click)="orderAlphabetically('data')">Data</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fattura of fatture; index as i">
      <td>{{ fattura.cliente.ragioneSociale }}</td>
      <td>{{ fattura.importo }}€</td>
      <td>{{ fattura.stato }}</td>
      <td>{{ fattura.data }}</td>
      <td class="btn-cell">
        <button class="delete-btn" (click)="deleteFattura(fattura.id)">
          Elimina
        </button>
      </td>
    </tr>
  </tbody>
</table>
