<table>
  <thead>
    <tr>
      <th>Descrizione</th>
      <th>Nome</th>
      <th>Prezzo</th>
      <th>Tipo Servizio</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let servizio of servizi; index as i">
      <td>{{ servizio.descrizione }}</td>
      <td>{{ servizio.nome }}</td>
      <td>{{ servizio.prezzo }}€</td>
      <td>{{ servizio.tipoServizio!.nome }}</td>
      <td class="btn-cell">
        <button class="delete-btn" (click)="deleteServizio(servizio.id!)">
          Elimina
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div class="form-container">
  <form #clienteForm="ngForm" (ngSubmit)="addServizio()">
    <div class="form-group">
      <label for="descrizione">Descrizione</label>
      <input
        id="descrizione"
        name="descrizione"
        [(ngModel)]="servizio.descrizione"
      />
    </div>

    <div class="form-group">
      <label for="nome">Nome</label>
      <input id="nome" name="nome" [(ngModel)]="servizio.nome" />
    </div>

    <div class="form-group">
      <label for="prezzo">Prezzo</label>
      <input id="prezzo" name="prezzo" [(ngModel)]="servizio.prezzo" />
    </div>

    <div class="form-group">
      <label for="tipoServizio">Tipo Servizio</label>
      <input
        id="tipoServizio"
        name="tipoServizio"
        [(ngModel)]="servizio.tipoServizio!.nome"
      />
    </div>
    <button type="submit" [disabled]="clienteForm.invalid">
      Salva Servizio
    </button>
  </form>
</div>
